* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 4px;
}

input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #c2c2c2;
}

.radio-wrapper {
    display: flex;
    gap: 16px;
}

.radio-wrapper label {
    display: flex;
    align-items: center;
    gap: 4px;
}

.button-wrapper {
    display: flex;
    gap: 12px;
}

button {
    min-width: 100px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #c2c2c2;
    background-color: transparent;
    cursor: pointer;
}

#btn-submit {
    background-color: rgb(37, 45, 118);
    color: #fafafa;
}

#btn-submit:hover {
    background-color: rgb(12, 12, 12);
}

#btn-reset {
    border: 1px solid red;
    color: red;
}

#btn-reset:hover {
    background-color: rgb(255, 37, 37);
    color: #fafafa;
}